
<h2><FONT size=5><br /><span></span><b>Cameo Chemicals</b></FONT> </h2>

<div class="paragraph" style="display:block;"><br /><span></span><br /><span></span><font size="3">

<em>Cameo Chemicals LLC</em> is an industrial chemical company that focuses on the Car Wash, Truck Wash, Ready Mix Concrete, Asphalt, Floor Care, Odor Control and Manufacturing Industries.<br /><span></span><br /><span></span>
What separates <em>Cameo Chemicals</em> from the competition is that we focus on custom blending products to meet the specific needs of our customers, and we are able to supply these products in small quantities if necessary.<br /><span></span><br /><span></span>


We also offer a wide selection of standard products for all of these industries through our online store.


<br /><span></span><br /><span></span>So </font><a><font size="3"><%= link_to 'Contact Us', contacts_path %></font></a><font size="3"> and see what we can do for you.</font><br /><span></span><br /><span></span></div></div>
