<h2 style="text-align: center;"><b>Shopping Cart</b></h2>
</br>

<% if !@order_item.nil? && @order_item.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if @order_items.size == 0 %>
<h3 class="text-center">Shopping Cart is Empty</h3>
<% else %>
<% @order_items.each do |order_item| %>
<%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
<% end %>
<h4 class="text-right">Order Subtotal: <span style="color: green"><%= number_to_currency @order.subtotal %></span></h4>
<%= link_to "Proceed to Checkout", @order, data: { no_turbolink: true }, :class => 'btn btn-default' %>

<% end %>
