

<%#= render @category.groups %>
<h2 style="text-align: center;"><b><%= @category.name %></b></h2>
</br>

<div>
  <div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>

  <table class='wsite-multicol-table'>
    <tbody class='wsite-multicol-tbody'>

      <%= render 'group_table' %>

    </tbody>
  </table>
</div></div></div>`
