
    <div class='wsite-elements wsite-footer'>
      <div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
        <table class='wsite-multicol-table'>
          <tbody class='wsite-multicol-tbody'>
            <tr class='wsite-multicol-tr'>
              <td class='wsite-multicol-col' style='width:15%;padding:0 15px'><%#= link_to "About",   '#' %></td>
              <td class='wsite-multicol-col' style='width:5%;padding:0 15px'><%#= link_to "Contact",   '#' %></td>
              <td class='wsite-multicol-col' style='width:5%;padding:0 15px'></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="paragraph"></div>Cameo Chemicals LLC <%="\u00A9"%> <%=Time.now.year %></div>
